<div th:include="header">...</div>
<div id="container">
	<h3 th:text="${beer}? |Editing: ${beer.name}| : 'Beer Not Found!'"> beer name</h3>
	<p th:text="${updated}">brewery name</p>
		<form action="#" th:action="@{/beer/edit/submit}" th:object="${beerModel}" method="post">
			
			<h4>General Info</h4>
			<hr />
			<label>Name</label>
			<input type="text" th:field="*{name}" />
			<label>Style</label>
			<input type="text" th:field="*{style}"/><br />
			<label>Description</label>
			<input type="text" th:field="*{description}" />
			<label>Category</label>
			<input type="text" th:field="*{category}" /><br />
			
			<h4>Details</h4>
			<hr />
			<label>Alcohol(ABV)</label>
			<input type="text" th:field="*{abv}" />
			<label>Beer Color (SRM)</label>
			<input type="text" th:field="*{srm}" />
			<label>Bitterness (IBU)</label>
			<input type="text" th:field="*{ibu}" />
			<label>Universal Product Code (UPC)</label>
			<input type="text" th:field="*{upc}" />
			
			<h4>Brewery</h4>
			<hr />
			<label>Brewery</label>
			<input type="text" th:field="*{brewery}" />
			<input type="hidden" th:field="*{id}"></input><br />
			<input type="submit" value="Save" class="btn btn-primary"/>
		</form>		
</div>
<div th:include="footer">...</div>