<head>
	 <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	 <link href="/css/bootstrap.min.css" rel="stylesheet" />
	 <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
	 <title>Couchbase Java Beer-Sample</title>
</head>
<body>
	<div id="container">
		<div id="header-left">
			<h2>Couchbase Beer-Sample</h2>
		</div>
		
		<div id="header-right">
			<a href="/">Home</a>
			<a href="/beers">Beers</a>
			<a href="/breweries">Breweries</a>
		</div>
		<br />
		<hr />
	</div>
</body>