<div th:include="header">...</div>
<div id="container">
	<h3 th:text="${brewery}? |Editing: ${brewery.name}| : 'brewery Not Found!'"> brewery name</h3>
	<p th:text="${updated}">brewery name</p>
		<form action="#" th:action="@{/brewery/edit/submit}" th:object="${breweryModel}" method="post">
			
			<h4>General Info</h4>
			<hr />
			<label>Name</label>
			<input type="text" th:field="*{name}" />
			<label>Website</label>
			<input type="text" th:field="*{website}" /><br />
			<label>Phone</label>
			<input type="text" th:field="*{phone}" />
			<label>Country</label>
			<input type="text" th:field="*{country}" /><br />
			
			<h4>Details</h4>
			<hr />
			<label>Code</label>
			<input type="text" th:field="*{code}" />
			<label>Address</label>
			<input type="text" th:field="*{address}" />
			<label>City</label>
			<input type="text" th:field="*{city}" />
			<label>Geo</label>
			<input type="text" th:field="*{geo}" />
			<label>State</label>
			<input type="text" th:field="*{state}" />

			<input type="hidden" th:field="*{id}"></input><br />
			<input type="submit" value="Save" class="btn btn-primary"/>
		</form>		
</div>
<div th:include="footer">...</div>