<div th:include="header">...</div>
<div id="container">
	<h3>Browse Breweries</h3>
	<p th:text="${deleted}">brewery name</p>
	<div id="table">
		<table class="table table-striped">
			<tr>
				<td>Name</td><td>Edit</td><td>Delete</td>
			</tr>
			<tr th:each="brewery : ${breweries}">
				<td><a th:href="@{/breweries/(brewery=${brewery.id()})}" th:text="${brewery.key()}">text</a></td>
				<td><a class="btn btn-small btn-warning" th:href="@{/brewery/edit/(brewery=${brewery.id()})}">Edit</a></td><td><a class="btn btn-small btn-danger" th:href="@{/brewery/delete/(brewery=${brewery.id()})}">Delete</a></td>
			</tr>
		 </table>
	</div>
</div>
<div th:include="footer">...</div>