<div th:include="header">...</div>
<div id="container">
	<div id="left">
		<h4>Browse all Beers</h4>
		<a href="/beers" class="btn btn-warning">Show me all beers</a>
		<br /><br />
		<h4>Browse all Breweries</h4>
		<a href="/breweries" class="btn btn-info">Take me to the breweries</a>
	</div>
	<div id="right">
		<h4>About this App</h4>
		<p>Welcome to Couchbase!</p>
		<p>This application helps you to get started on application development with Couchbase. It shows how to create, update and delete documents and how to work with JSON documents.</p>
		<p>The official tutorial can be found
                <a href="http://www.couchbase.com/docs/couchbase-sdk-java-1.1/tutorial.html">here</a>!</p>
    </div>
</div>
<div th:include="footer">...</div>